@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #0d163a;
  --seconadry: #f9ba33;
  --tertiory: #3bbb6e;
  --white: #fff;
  --body: #f5fbff;
  --grey:#d9d9d9;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main-container {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: var(--body);
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 20%;
  height: 1024px;
  background-color: var(--white);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-container{
  height: 960px;
  width: 100%;
  margin-top: 32px;
  display: flex;
}
.sidebar-wrapper{
  width: 100%;
  height: 872px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-sidebar-section {
  height: 512px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.bottom-sidebar-section {
  width: 100%;
  height: 128px;
}
.sidebar-items-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--white);
}

.logo{
  width: 80%;
  height: 52px;
  padding: 1rem 2rem;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a{
  width: 100%;
}
.sidebar-items{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  background-color: var(--white);
}

.sidebar-item{
  width: 100%;
  border-left: 4px solid var(--white);
}
.sidebar .active{
  border-left: 4px solid var(--primary);
  font-weight: bold;
}
.sidebar-item a {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: lighter;
  font-size: 1rem;
  line-height: 100%;
  width: 400;

}
.devider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
.devider-container .devider {
  width: 100%;
  height: 1px;
  background-color: var(--grey);
  lighting-color: var(--grey);
}

/* ==== maim section ===== */
.main-section {
  width: calc(100% - 300px);
  overflow-x: hidden;
}

.middle-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  gap: 10px;
}

.search-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.search-input {
  width: 100%;
  height: 64px;
  padding: 1rem 2rem;
  border-radius: 100px;
  outline: none;
  padding: 0.9rem 2.5rem;
  outline: none;
  border: none;
  background-color: var(--white);
}

.search-input::placeholder {
  color: var(--primary);
}

.search-input:focus {
  border: 1px solid var(--primary);
}

.search-container img{
  position: absolute;
  left: 15px;
}
.notification-message-profile-container {
  width: 30%;
  height: 64px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
}

.top-main-icon{
  width: 66px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid var(--grey);
  border-radius: 100px;
  cursor: pointer;
  padding: 12px;
}

.profile-container{
  display: flex;
  gap: 3px;
  align-items: center;
}

.profile-image{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container span{
  font-size: 16px;
  font-weight: semi-bold;
  color: var(--primary);
  white-space: nowrap;
  text-transform: capitalize;
}

/* ==== middle main section ===== */

.overview-container{
  width: 70%;
  height: 450px;
  max-height: 4;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border-radius: 14px;
  background-color: var(--white);
}
.overviw-heading{
  width: 100%;
  height: 25px;
}
.heading{
  font-size: 20px;
  font-weight: 700;
  lighting-color: var(--primary);
  color: var(--primary);
  padding:1rem 0;
  line-height: 100%;
  letter-spacing: -1;
}

.overview-items-wrapper{
  height: 349px;
  display: flex;
  align-items: center;
  gap: 18px;

}
.overview-item-box{
  width:48%;
  height: 165px;
  border-radius: 14px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: 18px;
}
#balance-item{
  background-color: #4745a4;
}
.overview-item{
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overview-item-desc{
  width: 100%;
  height: 48px;
  display: flex;
  gap: 9px;
  align-items: center;
}
.overview-item-desc h3{
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
.overview-item-desc :nth-child(1){
  color: var(--white);
}
.description{
  width: 100%;
  display: flex;
  gap: 4;
  align-items: center;
}
.description p{
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--primary);
}
.wallet{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  padding: 8px;
  border:1px solid  var(--grey);
}

.balance{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance h3{
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--primary);
}
.text-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.text-wrapper p{
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: var(--grey);
  letter-spacing: 0;
}
.devider-box{
  width: 100%;
  height: 0.3px;
  background: var(--primary);
  opacity: 0.4;
}
.amount{
  height: 35px;
  width: 100%;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -2;
  font-weight: 600;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  
}

#text{
  color: var(--primary);
}

/* ===== saving plan === */
.saving-plan-wrapper{
  width: 30%;
  height: 430px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 14px;
}
.saving-plan-container{
  width: 100%;
  height: 398px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.saving-plan-heading{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; 
}
.saving-plan-heading button{
  background-color: transparent;
  color: var(--primary);
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
.progress-wrapper{
  width: 100%;
  height: 325px;
  padding: 1rem 0;
  margin: 20px 0;
}
.progress-container{
  width: 100%;
  height: 99px;
}
.progress-heading-container{
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-heading{
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary);
  line-height: 24px;
  letter-spacing: 0;
}
.progress-text{
  font-weight: 400px;
  font-size: 12px;
  color: var(--primary);
  line-height: 100%;
  letter-spacing: 0;
}
.progress-bar-container{
  width: 100%;
  height: 45px;
  border-radius: 100px;
}
.progress-bar-heading{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.percent-text{
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1px;
}
.progress-bar-fill{
  transition: all 0.5s ease-in-out;
}
.progress-container:nth-child(1) .percent-text{
  color: var(--primary);
}
.progress-container:nth-child(1) .progress-bar-fill {
  width: 0%;
  height: 10px;
  border-radius: 100px;
  background-color: var(--primary);
}
.progress-container:nth-child(2) .percent-text{
  color: var(--seconadry);
}
.progress-container:nth-child(2) .progress-bar-fill {
  width: 0%;
  height: 10px;
  border-radius: 100px;
  background-color: var(--seconadry);
}
.progress-container:nth-child(3) .percent-text{
  color: var(--tertiory);
}
.progress-container:nth-child(3) .progress-bar-fill {
  width: 0%;
  height: 10px;
  border-radius: 100px;
  background-color: var(--tertiory);
}
.progress-bar{
  width: 100%;
  height: 10px;
  border-radius: 100px;
  background-color: var(--grey);
}

/* ==== chart section ===== */
.bottom-main-section{
  width:  100%;
  height: 402px;
  padding: 1rem 0;
  border-radius: 14px;
  margin-top: 32px;

}
.analytics-bar-container{
  width: 70%;
  height: 402px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 20px;
  border-radius: 14px;
}
.chart-container{
  width: 100%;
  height: 262px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;

}
.analytics-bar-heading{
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.analytics-labels-wrapper{
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.analytics-labels-wrapper span:nth-child(1) .dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary);
}
.analytics-labels-wrapper span:nth-child(2) .dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--seconadry);
}
.analytics-labels-wrapper span{
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--primary);
}
.analytics-labels-wrapper button{
  padding: 8px;
  background-color: transparent; 
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 8px;
  height: 34px;
  width: 90px;
  cursor: pointer;
}
.analytics-labels-wrapper button:hover{
  background-color: var(--primary);
  color: var(--white);
  border: none;
  transition: all 0.5s ease-in-out;
}
.analytics-labels-wrapper button:focus{
  background-color: var(--primary);
  color: var(--white);
  border: none;
  transition: all 0.5s ease-in-out;
}
.analytics-labels-wrapper button:active{
  background-color: var(--primary);
  color: var(--white);
  border: none;
  transition: all 0.5s ease-in-out;
}
.lable-container{
  height: 18px;
  width: 69px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.lable-container span{
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--primary);
}
.dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.analytics-labels-wrapper :nth-child(1) .dot{
  background-color: var(--primary);
  
}
.analytics-labels-wrapper :nth-child(2) .dot{
  background-color: var(--seconadry);
}
.recent-transaction-container{
  width: 30%;
  height: 402px;
  background-color: var(--white);
  border-radius: 14px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.recent-transaction-heading{
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent-transaction-heading button{
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
.recent-transaction-wrapper{
  width: 100%;
  height: 297px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: auto;
}
.recent-transaction-item{
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.profile-container{
  height: 48px;
  display: flex;
  gap: 8px;
}
.transaction-title{
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--primary);
  white-space: nowrap;
}
.transaction-text{
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1;
  color: var(--primary);
}
.transaction-container p{
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1;
  color: var(--tertiory);
}

.menu{
  display: none;
}


/* ==== resposive design ===== */


@media screen and (max-width:1025px) {
.wrap{
  flex-wrap: wrap;
}
.overview-container{
  width: 100%;
}
.saving-plan-wrapper, .saving-plan-container {
  margin-top: 32px;
  width: 100%;
}
.recent-transaction-container , .recent-transaction-wrapper{
  width: 100%;
  margin-top: 32px;
}
.recent-transaction-item{
  width: 100%;
}

}
@media  screen and (max-width:748px) {

.sidebar{
  display: none;
}
.main-section{
  width: 100%;
}
.search-container {
  margin-top: 40px;
  padding: 2px;
  width: 100%;
  position: fixed;
  top: 40px;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .search-container {
    width: 80%;
  }
  .description p{
   text-wrap: wrap;
  }
}

@media screen and (min-width: 1236px) {
  .search-container {
    width: 60%;
  }
}
.notification-message-profile-container{
  width: 100%;
  position: fixed;
  padding: 0 10px;
  top: 0;
  z-index: 10;
}
.overview-container, .saving-plan-wrapper, .analytics-bar-container, .recent-transaction-container{
  width: 100%;
  height: fit-content;
}
.analytics-bar-container{
  width: 100%;
}
.overview-items-wrapper{
  flex-wrap: wrap;
}
.overview-item-box{
  width: 100%;
}
.menu{
  display: block;
  padding: 12px;
}

#menu{
  float: right;
  color: var(--primary);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1px 2px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
  border: none;
  border-radius: 2px;
}
.active-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 1024px;
  background-color: var(--white);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in;
  z-index: 100;
}
}